<!-- 首页html -->
<script type="text/template" id="main_page_template">
	<div class="nav-cont">
		<header class="nav-bar">
			<div class="left">
				<a class="back" href="#close"></a> <strong class="bookshop"></strong>
			</div>
			<div class="right">
				<a class="search" href="#search"></a> <a class="last-read" href="#latest-readed"><span>最近阅读</span></a>
			</div>
		</header>
		<nav class="nav-tabbar top">
			<ul>
				<li id="favorite_tab_link" class="active" data-target="favorite"><a class="nav" href="#main/favorite">精选</a></li>
				<li id="ranking_tab_link" class="" data-target="ranking"><a class="nav" href="#main/ranking">排行</a></li>
				<li id="class_tab_link" class="" data-target="class"><a class="nav" href="#main/class">分类</a></li>
				<li id="free_tab_link" class="" data-target="free"><a class="nav" href="#main/free">免费</a></li>
			</ul>
		</nav>
	</div>
	<section id="favorite" class="content">
	</section>
	<section id="ranking" class="content main-page-rank" style="display:none">
		
	</section>
	<section id="class" class="content main-page-classes" style="display:none">
		
	</section>
	<section id="free" class="content main-page-free" style="display:none">
		
	</section>
</script>