@charset "utf-8";
/**
 *  Create Date: 2016-09-05
 *  Note:  scale dispose 1px border
 *  Use:   @include bd-top
 */

%pos {
    position: relative;
}
%bd {
    content: '';
    position: absolute;
    z-index: 10;
}

@mixin bd-top() {
    @extend %pos;
    &:after {
        @extend %bd;
        height: 1px;
        width: 100%;
        border-top: 1px solid $border-main;
        top: -1px;
        right: 0;
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }
}
@mixin bd-right() {
    @extend %pos;
    &:after {
        @extend %bd;
        height: 100%;
        width: 1px;
        border-right: 1px solid $border-main;
        top: 0;
        right: -1px;
        transform: scaleX(.5);
        -webkit-transform: scaleX(.5);
    }
}
@mixin bd-bottom() {
    @extend %pos;
    &:after {
        @extend %bd;
        height: 1px;
        width: 100%;
        border-top: 1px solid $border-main;
        bottom: -1px;
        right: 0;
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }
}
@mixin bd-left() {
    @extend %pos;
    &:after {
        @extend %bd;
        height: 100%;
        width: 1px;
        border-left: 1px solid $border-main;
        top: 0;
        left: -1px;
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }
}
@mixin bd-wrap() {
    @extend %pos;
    &:after {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #cacaca;
        border-radius: 99rem;
        -webkit-transform: scale(0.5,0.5);
        transform: scale(0.5,0.5);
        -webkit-transform-origin: top left;
        box-sizing: border-box;
    }
}
