<!-- 分类列表 -->
<script type="text/template" id="classes_item_view_template">
	<% for(var i=0;i<data.length;i++){ %>
	<li class="entrances <%=data[i]['cateIconClass']%>">
		<h4><span class="bg"></span><%=data[i]['cateClassName']%></h4>
		<ul>
			<% for(var j=0;j<data[i]['cateList'].length;j++){ %>
				<% if((j+1)%3==0){ %>
					<li class="third">
				<% }else{ %>
					<li class="bd-right">
				<%}%>
				<a data-groupname="<%=data[i]['cateClassName']%>" data-cateid="<%=data[i]['cateList'][j]['cateId']%>" data-catename="<%=data[i]['cateList'][j]['cateName']%>" class="nav" href="#books/class/<%=data[i]['cateList'][j]['cateName']%>/<%=data[i]['cateList'][j]['cateId']%>/0/<%=data[i]['cateList'][j]['stat_p5']%>/<%=data[i]['cateList'][j]['stat_p6']%>"><%=data[i]['cateList'][j]['cateName']%></a></li>
			<%}%>
		</ul>
	</li>
	<%}%>
</script>